<h4 class="mt-4 mb-2">{{ category.Name }}</h4>
<p class="small"><a [routerLink]="'/advertisements-list'" [queryParams]="{categoryId: category.Id}">view all</a></p>

<ng-container *ngIf="loaded; else spinner">
  <div class="row">
    <ng-container *ngIf="advertisements.length; else noAds">
      <ng-container *ngFor="let advertisement of advertisements">
        <div class="col-6 col-md-4 col-lg-3">
          <div class="card">
            <div class="card-header">
              {{ advertisement.Title }}
            </div>
            <div class="card-body">
              <h5 class="card-title">Price: <span class="text-muted font-italic">{{ advertisement.Price }} €</span></h5>
              <p class="card-text">{{ advertisement.Description }}</p>
              <a href="#">Details</a>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>

<ng-template #spinner>
  <adp-spinner></adp-spinner>
</ng-template>

<ng-template #noAds>
  <div class="col-12 text-danger">
    No advertisements in this category
  </div>
</ng-template>
