<h1>List of users</h1>
<ng-container *ngIf="loaded; else spinner">
<table class="table table-striped">
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Login</th>
    <th>Email</th>
    <th>Country</th>
    <th>City</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{ user.FirstName }}</td>
    <td>{{ user.LastName }}</td>
    <td>{{ user.Login }}</td>
    <td>{{ user.Email }}</td>
    <td>{{ user.Country }}</td>
    <td>{{ user.City }}</td>
    <td>{{ user.Address }}</td>
  </tr>
  </tbody>
</table>
</ng-container>

<ng-template #spinner>
  <adp-spinner></adp-spinner>
</ng-template>
