<h1>Advertisements</h1>

<ng-container *ngIf="loaded; else spinner">
  <div class="row my-3">
    <div class="col-12 col-md-4 col-xl-2">
      <label for="categorySelect">Category</label>
      <select [(ngModel)]="categoryId" class="form-control" id="categorySelect"
        (ngModelChange)="loadAdvertisements($event)">
        <ng-container *ngFor="let category of categories">
          <option [value]="category.Id">{{ category.Name }}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Title</th>
      <th>Date added</th>
      <th>Category</th>
      <th>Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let advertisement of advertisements">
      <td>{{ advertisement.Title }}</td>
      <td>{{ advertisement.CreationDate | date: 'dd.MM.yyyy'}}</td>
      <td>{{ categoriesMap[advertisement.CategoryId] }}</td>
      <td>{{ advertisement.Price }} €</td>
      <td><a [routerLink]="'/advertisement/' + advertisement.Id">view</a></td>
    </tr>
    </tbody>
  </table>
</ng-container>
<p class="text-center">
  <button class="btn btn-success" [routerLink]="'/advertisements-new'">Add new advertisement</button>
</p>

<ng-template #spinner>
  <adp-spinner></adp-spinner>
</ng-template>
