<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 offset-lg-3 col-lg-6">
      <ng-container *ngIf="!isAdvertisementAdded; else success">
        <div class="row">
          <div class="col-12 col-md-6">
            <label for="InputTitle">Title*</label>
            <input
              [(ngModel)]="advertisement.Title"
              type="text" class="form-control" id="InputTitle" placeholder="Title">
          </div>
          <div class="col-12 col-md-6">
            <label for="InputPrice">Price*</label>
            <input
              [(ngModel)]="advertisement.Price"
              type="number" class="form-control" id="InputPrice" placeholder="Price">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="InputDescription">Description*</label>
            <textarea
              [(ngModel)]="advertisement.Description" class="form-control" id="InputDescription">
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label for="categorySelect">Category</label>
            <select [(ngModel)]="advertisement.CategoryId" class="form-control" id="categorySelect">
              <ng-container *ngFor="let category of categories">
                <option [value]="category.Id">{{ category.Name }}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <p><small>* Required fields</small></p>
        <button [routerLink]="'/home'" class="btn btn-danger">Cancel</button>
        <button
          [disabled]="!isAdvertisementValid()"
          (click)="addAdvertisement()"
          class="btn btn-outline-success float-right">Add
        </button>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #success>
  <div class="text-center">
    <h2 class="text-success">Advertisement successfully added!</h2>
    <button
      [routerLink]="'/home'"
      class="btn btn-outline-secondary mt-2">Back to home page
    </button>
  </div>
</ng-template>
